1.Дана длина ребра куба. Найти объем куба и площадь его боковой поверхности.

In [19]:
a = float(input()) #вводим длину ребра куба

2.8

In [20]:
v=a**3 #формула объема куба
print('Объём куба: ', v)

Объём куба:  21.951999999999995

In [21]:
s=4*a**2 #формула площади боковой поверхности куба
print('Площадь боковой поверхности: ', s)

Площадь боковой поверхности:  31.359999999999996

2.	С некоторого момента прошло 137 дня. Сколько полных недель прошло за этот период?

In [22]:
t = 137//7 #кол-во полных недель
print('За этот период прошло {f} полных недель'.format(f=t))

За этот период прошло 19 полных недель

3. Даны вещественные числа a,b,c. Выяснить, имеет ли квадратное уравнение ax^2+bx+c = 0 вещественные корни.

In [23]:
#квадратное уравнение будет иметь вещественные корни, если дискриминант >= 0, найдем дискриминант и сравним полученное его значение с нулём:
#1. вводим значения a,b,c:
a = float(input())

2.4

In [24]:
b = float(input())

3.5

In [25]:
c = float(input())

5.7

In [26]:
#2. Вычисляем дискриминант:
D = b**2 - 4*a*c
if D > 0:
    print('Квадратное уравнение имеет 2 вещественных корня')
elif D == 0:
    print('Квадратное уравнение имеет 1 корень')
else:
    print('Квадратное уравнение не имеет вещественных корней')

Квадратное уравнение не имеет вещественных корней

4. Одна компьютерная мышь некоторого товара стоит 453 руб. Напечатать таблицу стоимости 2, 3, ..., 20 штук этого товара.

In [27]:
import pandas as pd
import numpy as np
a = 453
i = 1
ar1 = np.array(0)
ar2 = np.array(0)
while i <= 20:
    ar1 = np.append(ar1, i) 
    ar2 = np.append(ar2, a*i)
    i = i+1
d = {'кол-во': ar1[2:], 'стоимость': ar2[2:]}
df = pd.DataFrame(data=d)
df

    кол-во  стоимость
0        2        906
1        3       1359
2        4       1812
3        5       2265
4        6       2718
5        7       3171
6        8       3624
7        9       4077
8       10       4530
9       11       4983
10      12       5436
11      13       5889
12      14       6342
13      15       6795
14      16       7248
15      17       7701
16      18       8154
17      19       8607
18      20       9060

5. Дано название волейбольного клуба. Напечатать его на экране "столбиком".

In [30]:
#вводим название волейбольного клуба:
name = input()

voleyball_club

In [31]:
list_char = []
i = 0
while i <= len(name)-1:
    list_char.append(name[i])
    i = i + 1
d = {'Название волейбольного клуба': list_char}
df = pd.DataFrame(data=d)
df

   Название волейбольного клуба
0                             v
1                             o
2                             l
3                             e
4                             y
5                             b
6                             a
7                             l
8                             l
9                             _
10                            c
11                            l
12                            u
13                            b

6.Дан список: 
a.Все его элементы: увеличить в 2 раза. 
b.Составить программу расчета среднего арифметического двух любых элементов массива.

In [33]:
#import numpy as np
#import pandas as pd

print('Введите элементы списка. После каждого элемента нажмите "Enter".')
print('Для прекращения процесса ввода напечатайте слово "exit", либо символ, неявляющийся числом')

list_float = []
list_float2 = []
str = ''
while str != 'exit':
    str = input()
    try:
        list_float.append(float(str))
        list_float2.append(float(str)*2)
    except:
        break
d = {'Список "a"': list_float, 'Список "a" с элементами, увеличенными в 2 раза': list_float2}
df = pd.DataFrame(data=d)
df

Введите элементы списка. После каждого элемента нажмите "Enter".
Для прекращения процесса ввода напечатайте слово "exit", либо символ, неявляющийся числом
3
4
5
exit

   Список "a"  Список "a" с элементами, увеличенными в 2 раза
0         3.0                                             6.0
1         4.0                                             8.0
2         5.0                                            10.0

In [38]:
array1 = list_float
str = ''
print('Кол-во элементов в массиве: {f}'.format(f = len(array1)))
print('Введите номер первого элемента массива для вычисления среднего арифметического: ')
try:
    a_i = int(input())
    if (a_i - 1) >= len(array1):
        print('Введенный номер элемента превышает кол-во элементов в массиве, будет использован первый элемент')        
        a_i = 1
    elif (a_i - 1) < 0:
        print('Введенный номер элемента не является номером элемента массива, будет использован первый элемент')        
        a_i = 1 
except:
    a_i = 1
    
print('Введите номер следующего элемента массива для вычисления среднего арифметического: ')

try:
    b_i = int(input())
    if (b_i - 1) >= len(array1):
        print('Введенный номер элемента превышает кол-во элементов в массиве, будет использован первый элемент')        
        b_i = 1
    elif (b_i - 1) < 0:
        print('Введенный номер элемента не является номером элемента массива, будет использован первый элемент')        
        b_i = 1
except:
    b_i = 1
avg = (array1[a_i - 1] + array1[b_i - 1])/2
print('Среднее арифметическое = {f}'.format(f = avg))

Кол-во элементов в массиве: 3
Введите номер первого элемента массива для вычисления среднего арифметического:
3
Введите номер следующего элемента массива для вычисления среднего арифметического:
5
Введенный номер элемента превышает кол-во элементов в массиве, будет использован первый элемент
Среднее арифметическое = 4.0